// import this file in other files to use the colour variables

// being specific with where colours are atm, we can change these into more general names later
$page-background-colour: #b8d8d8;
$nav-background-colour: #7a9e9f;
$card-background-colour: #c0e4e4;
$card-content-colour: #4f6367;
$tag-hover-colour: #2e331a;
$text-shadow-colour: #586434;

$primary-colour: #383a33;
$secondary-colour: #586434;