// import this file in other files to use the colour variables

// being specific with where colours are atm, we can change these into more general names later
$page-background-colour: #476072;
$nav-background-colour: #334257;
$card-background-colour: #2a4155;
$card-content-colour: #c3daeb;
$tag-hover-colour: #bdad9c;
$text-shadow-colour: #fae7d3;

$primary-colour: #7dcdf5;
$secondary-colour: #fae7d3;