// import this file in other files to use the colour variables

// being specific with where colours are atm, we can change these into more general names later
$page-background-colour: #eee9df;
$nav-background-colour: #B4CFB0;
$card-background-colour: #e9e5db;
$card-content-colour: #464E2E;
$tag-hover-colour: #3b787c;
$text-shadow-colour: #54a9af;

$primary-colour: #362706;
$secondary-colour: #54a9af;
