// import this file in other files to use the colour variables

// being specific with where colours are atm, we can change these into more general names later
$page-background-colour: #3e497a8e;
$nav-background-colour: #21325e81;
$card-background-colour: #4c5a9986;
$card-content-colour: #F0F0F0;
$tag-hover-colour: #b4b3b3;
$text-shadow-colour: #F0F0F0;

$primary-colour: #f5e174;
$secondary-colour: #F0F0F0;