// import this file in other files to use the colour variables

// being specific with where colours are atm, we can change these into more general names later
$page-background-colour: #282c34;
$nav-background-colour: #1e2125;
$card-background-colour: #383d44;
$card-content-colour: rgb(233, 231, 118);

$primary-colour: #3488e9;
$secondary-colour: #ffe75e;
