@use "../styles/colours" as c;

.card_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2.8rem;
}

.headerTag {
  text-align: center;
}

.headerTag > span {
  display: inline-block;
  font-size: 30px;
  margin: 10px 25px 0 0;
  color: c.$secondary-colour;
}

.headerTag > span:hover {
  cursor: pointer;
  color: c.$tag-hover-colour;
  // text-shadow: 1px 1px 50px c.$text-shadow-colour;
}

.headerTag > span.active {
  font-weight: bold;
}