*, *::before, *::after {
    box-sizing: border-box;
}

.carousel {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; /* container will contain the full image and keep the original aspect ratio*/
    object-position: center; /* image is centred in it's container */
}

.carousel > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    outline: none;
    font-size: 3rem;
}

.carousel > button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.carousel > .left_button  { left: 1rem; }
.carousel > .right_button { right: 1rem; }